    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Aleksandr Guljajev</h4>
	    <p>Developer based in Amsterdam, the Netherlands </p>
	    <p>I contribute to open source software, I write, I speak.</p>
	    <p>My motto is perfectly summarized by Mark Twait: "Whenever you find yourself on the side of the majority, it is time to pause and reflect."</p>
        </div>
        <div class="panel-body">
            <a href="https://github.com/alex-glv/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
	    <a href="https://twitter.com/jaleks_" class="btn btn-info btn-xs"><i class="fa fa-twitter-square fa-2x"></i></a>
        </div>
    </div>
